//карточки-наши достижения
.banners-img-with-text-list__item-title a {
    font-size: 26px;
    line-height: 33px;
    text-align: center;
    color: #000000;

    @media (max-width: 991px) {
        font-size: 17.5px;
        line-height: 22px;
    }

    @media (max-width: 690px) {
        font-size: 26px;
        font-weight: 900;
        line-height: 33px;
    }
}

.banners-img-with-text-list__wrapper:nth-child(3) .banners-img-with-text-list__item-title a {
    color: #FFFFFF;

    @media (max-width: 690px) {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.banners-img-with-text-list__wrapper:nth-child(1) .banners-img-with-text-list__item-title a {
    @media (max-width: 690px) {
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.index-block .banners-img-with-text-list {
    padding: 0;
}

.banners-img-with-text-list .grid-list--items-3 {
    justify-items: center;

    @media (min-width: 744px) {
        &:not(#id) {
            max-width: 1050px;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
        }
    }
}

.banners-img-with-text-list .grid-list__item {
    width: 100%;
    max-width: 335px;
    min-width: 225px;
}

.banners-img-with-text-list__item-image {
    @media (min-width: 747px) {
        min-height: 218px;
    }

    @media (min-width: 991px) {
        min-height: 218px;
    }
}

.banners-img-with-text-list__item-image.banners-img-with-text-list__item-image--short {
    @media (max-width: 690px) {
        padding-top: 34%;
    }

    @media (min-width: 991px) {
        padding-top: 100%;
    }
}

.banners-img-with-text-list .rounded-4 {
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
}

.banners-img-with-text-list__wrapper .dark-block-after:after {
    background: none;
}

.banners-img-with-text-list__wrapper:first-child .dark-block-after:after {
    background-image: linear-gradient(to top, #FFFFFF 1.87%, rgba(255, 255, 255, 0) 98.61%);
}

.banners-img-with-text-list__wrapper .dark-block-after:after {
    @media (max-width: 690px) {
        top: 0;
        bottom: -30px;
    }
}

.banners-img-with-text-list__wrapper:first-child .dark-block-after:after {
    @media (max-width: 690px) {
        background-image: linear-gradient(to top, #000000 1.87%, rgba(255, 255, 255, 0) 98.61%);
    }
}

.banners-img-with-text-list__wrapper:nth-child(2) .dark-block-after:after {
    @media (max-width: 690px) {
        background-image: linear-gradient(to top, #FFFFFF 1.87%, rgba(255, 255, 255, 0) 98.61%);
    }
}

.banners-img-with-text-list__wrapper:nth-child(3) .dark-block-after:after {
    @media (max-width: 690px) {
        background-image: linear-gradient(to top, #C5A56C 0.4%, rgba(197, 165, 108, 0) 100.17%);
    }
}

.banners-img-with-text-list__item-text {
    padding: 18px 16px 0;
}

.elements-count-3 .banners-img-with-text-list__item-text--absolute {
    bottom: 19px;

    @media (max-width: 690px) {
        bottom: 40px;
    }
}

.MIDDLE_ADV .mobile-scrolled.mobile-scrolled--items-2 {
    @media (max-width: 690px) {
        grid-template-columns: 1fr;

        &:not(#id) {
            display: grid;
            gap: 35px;
            margin: 0 !important;
            padding: 0 !important;
            overflow: visible;

            >div {
                width: 100%;
                padding: 0;
            }
        }
    }
}

