//красный заголовок
.banners-big__text--wide .banners-big__title {
    color: var(--theme-base-color);
    font-size: 135px;
    line-height: 170px;
    letter-spacing: -0.04em;

    @media (max-width: 1440px) {
        font-size: 110px;
        line-height: 105px;
        margin-bottom: 20px;
        width: 65%;
    }

    @media (max-width: 743px) {
        font-size: 74px;
        line-height: 70px;
    }

    @media (min-width: 1440px) {
        width: 1000px;
    }
}

//с кфс и ростикс
.banners-big .banners-big__top-text {
    display: block;
    color: #000000;
    font-size: 47px;
    line-height: 59px;
    letter-spacing: -0.02em;
    opacity: 1;

    @media (max-width: 743px) {
        font-size: 27px;
        line-height: 34px;
    }
}

//маленький текст
.banners-big .banners-big__text-block {
    color: #000000;
    font-weight: 400;
    opacity: 1;
    font-size: 16px;
    line-height: 20px;
}

//ограничение для больших экранов маленького текста по ширине
.banners-big__text--wide.banners-big__text--center .banners-big__text-wrapper {
    @media (min-width: 744px) {
        width: 614px;
    }
}

//руки
.banners-big__item {
    background-image: url("../img/hand-left.svg"), url("../img/hand-right.svg");
    background-repeat: no-repeat;
    background-size: 259px 329px, 175px 151px;
    background-position: -20px 153px, right top 200px;

    @media (max-width: 1440px) {

    }
}

.banners-img-with-text-list::before {
    content: "";
    position: absolute;
    background-image: url("../img/hand-bottom.svg");
    background-repeat: no-repeat;
    width: 314px;
    height: 220px;
    top: -209px;
    left: calc(50% - 117px);
}
//вот тут я убрала z-index,
//потому что при адаптиве вылезал белый фон и перекрывал руку
.swiper-container {
    z-index: 0;
 }
