.body {
    min-width: 375px;
    background-color: #F6F8FB;
    font-family: 'KFC', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.popup-window,
body div.bx-yandex-map,
.fancybox-title {
  color: #000000;
    font-family: 'KFC', Arial, sans-serif;
    font-weight: 900;
}

//выравнивание
body .maxwidth-theme:not(.pos-static) {
    max-width: 1110px;

    @media (max-width: 991px) {
        max-width: 584px;
    }

    @media (max-width: 690px) {
        max-width: 378px;
    }
}
