.body {
    background-color: #F6F8FB;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.popup-window,
body div.bx-yandex-map,
.fancybox-title {
    font-family: 'KFC',
        Arial,
        sans-serif;
    color: #000000;
    font-weight: 900;
}

//выравнивание
body .maxwidth-theme:not(.pos-static) {
    max-width: 1110px;

    @media (max-width: 992px) {
        max-width: 584px;
    }

    @media (max-width: 690px) {
        max-width: 378px;
    }
}
