//не пойму почему шрифт вот тут не выглядит как в макете, в computed вроде все верно
.btn {
    font-family: "KFC";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 15px 32px;
}

.header__main-inner {
    padding-top: 24px;
}
