//не пойму почему шрифт вот тут не выглядит как в макете, в computed вроде все верно
.btn {
    font-family: "KFC";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 15px 32px;
    display: block;
}

.header__main-inner {
    padding-top: 24px;
}

.button-link {
    font-family: "KFC";
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    border: none;
    color: #E4002B;
}

.button-link--white {
  color: #FFFFFF;
}
