//блок волонтерство

.company-item:nth-child(2) {
    background-color: #ffffff;
}
//заголовок
.company-item__heading .index-block__title {
    font-size: 38px;
    line-height: 48px;
    color: #000000;

    @media (max-width: 743px) {
    font-size: 32px;
    line-height: 40px;
    }
}
//текст
.company-item__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #000000;
}
//итоги-заголовок
.company-item__text h4 {
    font-size: 20px;
    line-height: 25px;
}

//таблица итогов
.company-item__text .main-item b {
    font-family: "KFC Condensed";
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
}

.company-item:first-child {
    border: none;
    background-color: #EAEDF1;
    // background-image: url("../img/grey-bg-bottom.png");
    // background-repeat: no-repeat;
    // background-position: 100% 830px;
}

// url("../img/bg-top.png"),
.index-block--delimiter>div {
    border: none;
}

.index-block--padding-bottom-80 .company-item:first-child {
    padding-bottom: 237px;
    padding-top: 171px;
}
