//блок волонтерство
//заголовок
.company-item__heading .index-block__title {
    font-size: 38px;
    line-height: 48px;
    color: #000000;

    @media (max-width: 743px) {
        font-size: 32px;
        line-height: 40px;
    }
}

//текст
.company-item__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
}

//итоги-заголовок
.custom-volunteering .company-item__text h4 {
    font-size: 20px;
    line-height: 25px;
}

//таблица итогов
.custom-volunteering .company-item__text .main-item b {
    font-family: "KFC Condensed";
    font-size: 20px;
    font-weight: 900;
    line-height: 25px;
    display: block;
    margin-bottom: 10px;
}

//добавила одну обертку в разметку
.custom-volunteering .main-item-container {
    display: grid;
    grid-template-columns: 138px 226px;
    column-gap: 40px;

    @media (max-width: 580px) {
        grid-template-columns: 1fr 1fr;
    }
}

.custom-volunteering .main-item {
    width: auto;
    margin-right: 0;
}

.custom-volunteering {
    border: none;
    background-color: #EAEDF1;
    overflow: hidden;
}

.index-block--delimiter>div {
    border: none;
}

//руки
 .custom-volunteering {
    padding-bottom: 97px;
    padding-top: 120px;
    background-image:
        url('../img/hand-trash-vol.svg'),
        url('../img/hand-bike-vol.svg');
    background-repeat: no-repeat;
    background-position:
        left top,
        calc(50% - 48px) 598px;

    @media (max-width: 991px) {
        background-image:
            url('../img/hand-trash-vol-mobile.svg'),
            url('../img/hand-bike-vol.svg');

        background-position:
            left calc(50% - 286px) bottom 50px,
            right -80px top 47px;
    }

    @media (max-width: 690px) {
        background-image: none;
    }
}

//большая картинка
.company-item__picture--static {
    max-height: 611px;
    border-radius: 20px;
}

.company-item:first-child .company-item__picture--static {
    margin-right: -200px;

    @media (max-width: 991px) {
        margin-right: -100px;
        margin-left: -100px;
    }

    @media (max-width: 690px) {
        margin: 0;
    }
}

#main .company-item__picture-wrapper {
    @media (max-width: 991px) {
        padding-top: 96%;
    }
}

.flexbox--mb20-t991 {
    @media (max-width: 991px) {
        margin-bottom: 80px;
    }

    @media (max-width: 690px) {
        margin-bottom: 69px;
    }
}

.company-item__tizers {
    margin-top: 0;
}

.index-block__preview {
    margin-top: 48px;
}

//кнопка
.index-block .index-block__btn--subscribe {
    margin: 70px auto 0;
    max-width: 300px;
}

.index-block .index-block__btn--subscribe .btn {
    width: 100%;
    margin: 0 auto;
}
