footer .footer__main-part .font_15{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.subscribe-block .subscribe-block__text .font_15 {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.footer__bottom-part .footer__license {
    font-family: "KFC Condensed";
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    line-height: 20px;
}
