footer .footer__main-part .font_15{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

//блока "подписывайтесь на новости" в таком виде вообще в макете нет,
//поэтому я взяла из макета подпись около формы в футере и стилизовала также
.subscribe-block .subscribe-block__text .font_15 {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

//это импровизация, этого блока нет в макете
.footer__bottom-part .footer__license {
    font-family: "KFC Condensed";
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    line-height: 20px;
}
