//блок наши достижения
//красные числа
.TIZERS .index-block h2 {
    color: #000000;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 8px;

    @media (max-width: 690px) {
        font-size: 38px;
        line-height: 48px;
    }
}

//маленькие подписи
.drag-block .tizers-list__item-descr {
    color: #000000;
    font-family: 'KFC';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: -8px;
}

//расположение
.tizers-list__items-wrapper.grid-list--items-3 {
    &:not(#id) {
        max-width: 720px;
        grid-template-columns: repeat(3, 220px);
        gap: 30px;
        justify-content: center;
        margin: 0 auto;

        @media (max-width: 991px) {
            gap: 22px;
            margin-right: -60px;
            margin-left: -60px;
        }

        @media (max-width: 690px) {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }
}

.TIZERS .tizers-list {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 690px) {
        padding-top: 48px;
    }
}

.tizers-list__item--column {
    align-items: center;
}

.tizers-list__item-image-text {
    font-family: 'KFC Condensed';
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
}

.TIZERS .index-block--padding-top-80.index-block--padding-bottom-80 {
    padding-top: 118px;
    padding-bottom: 85px;
    overflow: hidden;

    @media (max-width: 991px) {
        padding-bottom: 348px;
    }

    @media (max-width: 690px) {
        padding-bottom: 313px;
    }
}

.TIZERS .index-block {
    position: relative;
}

//мальчик
.TIZERS .index-block::before {
    content: '';
    position: absolute;
    background-image: url('../img/boy.svg');
    background-repeat: no-repeat;
    width: 392px;
    height: 484px;
    left: calc(50% + 330px);
    bottom: calc(50% - 265px);

    @media (max-width: 991px) {
        width: 392px;
        height: 484px;
        left: auto;
        bottom: calc(-50% + 387px);
        right: calc(50% - 196px);
    }

    @media (max-width: 690px) {
        width: 377px;
        height: 404px;
        bottom: calc(-50% + 462px);
        right: calc(50% - 210px);
        background-size: 316px 399px;
    }
}

.TIZERS .index-block::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 56px;

    background-position: 50% 100%;
    background-image: url('../img/tear-boy.png')
}

.TIZERS .mobile-scrolled.mobile-scrolled--items-2 {
    @media (max-width: 690px) {
        grid-template-columns: 1fr;

        &:not(#id) {
            display: grid;
            margin: 0 !important;
            padding: 0 !important;
            overflow: visible;

            >div {
                width: auto;
                padding: 0;
            }
        }
    }
}
