//блок с заботой о природе
//заголовок
.COMPANY_TEXT h2 {
    font-size: 38px;
    font-weight: 900;
    line-height: 48px;
    color: #000000;
    margin-bottom: 90px;
}

//подзаголовки
.tizers-list__item-name.switcher-title {
    font-family: 'KFC Condensed';
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    color: #000000;
    margin-bottom: 20px;
}

//расположение
.index-block--delimiter .tizers-list__items-wrapper.grid-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 32px;
    max-width: 1015px;
}

//иконки
.TIZERS-BOTTOM .tizers-list__item-text-wrapper::before {
    content:"";
    width: 60px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 25px;
}

.TIZERS-BOTTOM .tizers-list__item-wrapper:first-child .tizers-list__item-text-wrapper::before {
    background-image: url("../img/icon1.svg");
}

.TIZERS-BOTTOM .tizers-list__item-wrapper:nth-child(2) .tizers-list__item-text-wrapper::before {
    background-image: url("../img/icon2.svg");
}

.TIZERS-BOTTOM .tizers-list__item-wrapper:nth-child(3) .tizers-list__item-text-wrapper::before {
    background-image: url("../img/icon3.svg");
}

//тут были попытки поставить фон,
//но пока не получилось.
//не могу привязать его к нужному блоку и он не растягивается по ширине

// .COMPANY_TEXT h2::before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     margin-left: -200px;
//     background-image: url("../img/paper-bg.png");

// }

// .index-block--delimiter::before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 1050px;
//     left:0;
//     right: 0;
//     background-image: url("../img/paper-bg.png");
//     background-repeat: no-repeat;
// }
