@font-face {
  font-family: "KFC";
  src: url("../fonts/cerakfc-regular.woff2") format("woff2"), url("../fonts/cerakfc-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KFC";
  src: url("../fonts/cerakfc-black.woff2") format("woff2"), url("../fonts/cerakfc-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KFC Condensed";
  src: url("../fonts/cerakfc-condensed-regular.woff2") format("woff2"), url("../fonts/cerakfc-condensed-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KFC Condensed";
  src: url("../fonts/cerakfc-condensed-black.woff2") format("woff2"), url("../fonts/cerakfc-condensed-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.body {
  background-color: #F6F8FB;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.popup-window,
body div.bx-yandex-map,
.fancybox-title {
  font-family: "KFC", Arial, sans-serif;
  color: #000000;
  font-weight: 900;
}

body .maxwidth-theme:not(.pos-static) {
  max-width: 1110px;
}
@media (max-width: 991px) {
  body .maxwidth-theme:not(.pos-static) {
    max-width: 584px;
  }
}
@media (max-width: 690px) {
  body .maxwidth-theme:not(.pos-static) {
    max-width: 378px;
  }
}

header .header-menu__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

@media (min-width: 991px) {
  .header-cabinet .header-cabinet__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
}

#main .mobileheader--color-colored .logo .menu-light-icon-fill svg * {
  fill: revert-layer;
}

#main .header-menu__item--more-items li:last-child a span {
  color: #0057FF;
  text-decoration: underline;
}

footer .footer__main-part .font_15 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.subscribe-block .subscribe-block__text .font_15 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.footer__bottom-part .footer__license {
  font-family: "KFC Condensed";
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 20px;
}

.custom-banner .banners-big__text--wide .banners-big__title {
  color: var(--theme-base-color);
  font-size: 135px;
  line-height: 170px;
  letter-spacing: -0.04em;
}
@media (max-width: 1440px) {
  .custom-banner .banners-big__text--wide .banners-big__title {
    font-size: 110px;
    line-height: 105px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .custom-banner .banners-big__text--wide .banners-big__title {
    font-size: 74px;
    line-height: 70px;
  }
}
@media (min-width: 1440px) {
  .custom-banner .banners-big__text--wide .banners-big__title {
    width: 1000px;
  }
}
@media (min-width: 581px) and (max-width: 990px) {
  .custom-banner .banners-big__text--wide .banners-big__title {
    width: 78%;
  }
}

.custom-banner .banners-big__top-text {
  display: block;
  color: #000000;
  font-size: 47px;
  line-height: 59px;
  letter-spacing: -0.02em;
  opacity: 1;
}
@media (max-width: 767px) {
  .custom-banner .banners-big__top-text {
    font-size: 27px;
    line-height: 34px;
  }
}

.custom-banner .banners-big__text-block {
  color: #000000;
  font-weight: 400;
  opacity: 1;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 991px) {
  .custom-banner .banners-big__text-block {
    margin: 36px 0 95px;
  }
}

.custom-banner .banners-big--adaptive-1 .banners-big__text-block {
  display: block;
}

@media (min-width: 744px) {
  .custom-banner .banners-big__text--wide.banners-big__text--center .banners-big__text-wrapper {
    width: 614px;
  }
}

.custom-banner .banners-big__wrapper {
  background-image: url("../img/hand-left.svg"), url("../img/hand-right.svg"), url("../img/hand-bottom.svg");
  background-repeat: no-repeat;
  background-size: 259px 329px, 175px 151px, 304px 300px;
  background-position: -20px 172px, right top 141px, 54% 480px;
}
@media (min-width: 581px) and (max-width: 990px) {
  .custom-banner .banners-big__wrapper {
    background-size: 201px 285px, 138px 131px, 255px 315px;
    background-position: -20px 117px, right top 36px, 54% 533px;
  }
}
@media (max-width: 580px) {
  .custom-banner .banners-big__wrapper {
    background-size: 131px 285px, 92px 131px, 221px 315px;
    background-position: -20px 29px, right -30px top 79px, 54% 391px;
  }
}
@media (min-width: 581px) and (max-width: 990px) {
  .custom-banner .banners-big__wrapper {
    padding-top: 150px;
  }
}

.custom-banner .swiper-container {
  z-index: 0;
}

.custom-banner .maxwidth-banner {
  margin-top: 20px;
}

.custom-banner .banners-big--normal .banners-big__depend-height {
  height: 580px;
}

.btn {
  font-family: "KFC";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 15px 32px;
  display: block;
}

.header__main-inner {
  padding-top: 24px;
}

.button-link {
  font-family: "KFC";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  border: none;
  color: #E4002B;
}

.custom-achievements .index-block h2 {
  color: #000000;
  font-size: 60px;
  line-height: 75px;
  text-align: center;
  margin-bottom: 8px;
}
@media (max-width: 690px) {
  .custom-achievements .index-block h2 {
    font-size: 38px;
    line-height: 48px;
  }
}

.drag-block .tizers-list__item-descr {
  color: #000000;
  font-family: "KFC";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: -8px;
}

.custom-achievements .tizers-list__items-wrapper.grid-list--items-3:not(#id) {
  max-width: 720px;
  grid-template-columns: repeat(3, 220px);
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .custom-achievements .tizers-list__items-wrapper.grid-list--items-3:not(#id) {
    gap: 22px;
    margin-right: -60px;
    margin-left: -60px;
  }
}
@media (max-width: 690px) {
  .custom-achievements .tizers-list__items-wrapper.grid-list--items-3:not(#id) {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}

.custom-achievements .tizers-list {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 690px) {
  .custom-achievements .tizers-list {
    padding-top: 48px;
  }
}

.tizers-list__item--column {
  align-items: center;
}

.tizers-list__item-image-text {
  font-family: "KFC Condensed";
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
}

.custom-achievements .index-block--padding-top-80.index-block--padding-bottom-80 {
  padding-top: 118px;
  padding-bottom: 85px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .custom-achievements .index-block--padding-top-80.index-block--padding-bottom-80 {
    padding-bottom: 348px;
  }
}
@media (max-width: 690px) {
  .custom-achievements .index-block--padding-top-80.index-block--padding-bottom-80 {
    padding-bottom: 313px;
  }
}

.custom-achievements .index-block {
  position: relative;
}

.custom-achievements .index-block::before {
  content: "";
  position: absolute;
  background-image: url("../img/boy.svg");
  background-repeat: no-repeat;
  width: 392px;
  height: 484px;
  left: calc(50% + 330px);
  bottom: calc(50% - 265px);
}
@media (max-width: 991px) {
  .custom-achievements .index-block::before {
    width: 392px;
    height: 484px;
    left: auto;
    bottom: calc(-50% + 387px);
    right: calc(50% - 196px);
  }
}
@media (max-width: 690px) {
  .custom-achievements .index-block::before {
    width: 377px;
    height: 404px;
    bottom: calc(-50% + 462px);
    right: calc(50% - 210px);
    background-size: 316px 399px;
  }
}

.custom-achievements .index-block::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 56px;
  background-position: 50% 100%;
  background-image: url("../img/tear-boy.png");
}

@media (max-width: 690px) {
  .custom-achievements .mobile-scrolled.mobile-scrolled--items-2 {
    grid-template-columns: 1fr;
  }
  .custom-achievements .mobile-scrolled.mobile-scrolled--items-2:not(#id) {
    display: grid;
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible;
  }
  .custom-achievements .mobile-scrolled.mobile-scrolled--items-2:not(#id) > div {
    width: auto;
    padding: 0;
  }
}

.nature {
  background-color: #C39E67;
  background-repeat: repeat-x, repeat-x, no-repeat, no-repeat, repeat;
  background-position: 50% 0, 50% 100%, 50% 0, calc(50% + 656px) -84px, 50% 50%;
  background-image: url("../img/tear-top.svg"), url("../img/tear-bottom.png"), url("../img/trash.svg"), url("../img/basket.png"), url("../img/kiwihug.png");
}
.nature:not(#id) {
  padding-top: 124px;
  padding-bottom: 162px;
}
@media (max-width: 991px) {
  .nature {
    padding-right: 80px;
    padding-left: 80px;
    background-position: 50% 0, 50% 100%, calc(50% + 260px) 0, 50% 100%, 50% 50%;
    background-image: url("../img/tear-top.svg"), url("../img/tear-bottom.png"), url("../img/trash.svg"), url("../img/basket-medium.png"), url("../img/kiwihug.png");
  }
  .nature:not(#id) {
    padding-bottom: 735px;
  }
}
@media (max-width: 690px) {
  .nature {
    padding-right: 0;
    padding-left: 0;
    background-position: 50% 0, 50% 100%, calc(50% + 120px) 0, 50% calc(100% - 40px), 50% 50%;
    background-image: url("../img/tear-top-mobile.svg"), url("../img/tear-bottom-mobile.png"), url("../img/trash-mobile.svg"), url("../img/basket-mobile.png"), url("../img/kiwihug.png");
  }
  .nature:not(#id) {
    padding-top: 116px;
    padding-bottom: 610px;
  }
}

.nature h2 {
  font-size: 38px;
  font-weight: 900;
  line-height: 48px;
  color: #000000;
  margin-right: calc(50% + 80px);
  margin-bottom: 65px;
}
@media (max-width: 991px) {
  .nature h2 {
    margin-right: 80px;
  }
}
@media (max-width: 690px) {
  .nature h2 {
    margin-right: 160px;
    font-size: 32px;
    line-height: 40px;
  }
}

.tizers-list__item-name.switcher-title {
  font-family: "KFC Condensed";
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  color: #000000;
  margin-bottom: 20px;
}

.nature .tizers-list__items-wrapper.grid-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 56px;
  padding-right: 34px;
}
@media (max-width: 991px) {
  .nature .tizers-list__items-wrapper.grid-list {
    grid-template-columns: 300px;
    gap: 50px;
    padding-right: 0;
  }
}
@media (max-width: 690px) {
  .nature .tizers-list__items-wrapper.grid-list {
    grid-template-columns: 1fr;
  }
  .nature .tizers-list__items-wrapper.grid-list:not(#id) {
    display: grid;
    gap: 35px;
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible;
  }
  .nature .tizers-list__items-wrapper.grid-list:not(#id) > div {
    width: auto;
    padding: 0;
  }
}

.nature .tizers-list__item-text-wrapper::before {
  content: "";
  width: 60px;
  height: 62px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 25px;
}

.nature .tizers-list__item-wrapper:first-child .tizers-list__item-text-wrapper::before {
  background-image: url("../img/icon1.svg");
}

.nature .tizers-list__item-wrapper:nth-child(2) .tizers-list__item-text-wrapper::before {
  background-image: url("../img/icon2.svg");
}

.nature .tizers-list__item-wrapper:nth-child(3) .tizers-list__item-text-wrapper::before {
  background-image: url("../img/icon3.svg");
}

.custom-cards .banners-img-with-text-list__item-title a {
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}
@media (max-width: 991px) {
  .custom-cards .banners-img-with-text-list__item-title a {
    font-size: 17.5px;
    line-height: 22px;
  }
}
@media (max-width: 690px) {
  .custom-cards .banners-img-with-text-list__item-title a {
    font-size: 26px;
    font-weight: 900;
    line-height: 33px;
  }
}

.custom-cards .banners-img-with-text-list__wrapper:nth-child(3) .banners-img-with-text-list__item-title a {
  color: #FFFFFF;
}
@media (max-width: 690px) {
  .custom-cards .banners-img-with-text-list__wrapper:nth-child(3) .banners-img-with-text-list__item-title a {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 690px) {
  .custom-cards .banners-img-with-text-list__wrapper:nth-child(1) .banners-img-with-text-list__item-title a {
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.index-block .custom-cards {
  padding: 0;
}

.custom-cards .grid-list--items-3 {
  justify-items: center;
}
@media (min-width: 744px) {
  .custom-cards .grid-list--items-3:not(#id) {
    max-width: 1050px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
}

.custom-cards .grid-list__item {
  width: 100%;
  max-width: 335px;
  min-width: 225px;
}

@media (min-width: 747px) {
  .custom-cards .banners-img-with-text-list__item-image {
    min-height: 218px;
  }
}
@media (min-width: 991px) {
  .custom-cards .banners-img-with-text-list__item-image {
    min-height: 218px;
  }
}

@media (max-width: 690px) {
  .custom-cards .banners-img-with-text-list__item-image.banners-img-with-text-list__item-image--short {
    padding-top: 34%;
  }
}
@media (min-width: 991px) {
  .custom-cards .banners-img-with-text-list__item-image.banners-img-with-text-list__item-image--short {
    padding-top: 100%;
  }
}

.custom-cards .rounded-4 {
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
}

.custom-cards .banners-img-with-text-list__wrapper .dark-block-after:after {
  background: none;
}

.custom-cards .banners-img-with-text-list__wrapper:first-child .dark-block-after:after {
  background-image: linear-gradient(to top, #FFFFFF 1.87%, rgba(255, 255, 255, 0) 98.61%);
}

@media (max-width: 690px) {
  .custom-cards .banners-img-with-text-list__wrapper .dark-block-after:after {
    top: 0;
    bottom: -30px;
  }
}

@media (max-width: 690px) {
  .custom-cards .banners-img-with-text-list__wrapper:first-child .dark-block-after:after {
    background-image: linear-gradient(to top, #000000 1.87%, rgba(255, 255, 255, 0) 98.61%);
  }
}

@media (max-width: 690px) {
  .custom-cards .banners-img-with-text-list__wrapper:nth-child(2) .dark-block-after:after {
    background-image: linear-gradient(to top, #FFFFFF 1.87%, rgba(255, 255, 255, 0) 98.61%);
  }
}

@media (max-width: 690px) {
  .custom-cards .banners-img-with-text-list__wrapper:nth-child(3) .dark-block-after:after {
    background-image: linear-gradient(to top, #C5A56C 0.4%, rgba(197, 165, 108, 0) 100.17%);
  }
}

.custom-cards .banners-img-with-text-list__item-text {
  padding: 18px 16px 0;
}

.custom-cards .elements-count-3 .banners-img-with-text-list__item-text--absolute {
  bottom: 19px;
}
@media (max-width: 690px) {
  .custom-cards .elements-count-3 .banners-img-with-text-list__item-text--absolute {
    bottom: 40px;
  }
}

@media (max-width: 690px) {
  .MIDDLE_ADV .custom-cards .mobile-scrolled.mobile-scrolled--items-2 {
    grid-template-columns: 1fr;
  }
  .MIDDLE_ADV .custom-cards .mobile-scrolled.mobile-scrolled--items-2:not(#id) {
    display: grid;
    gap: 35px;
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible;
  }
  .MIDDLE_ADV .custom-cards .mobile-scrolled.mobile-scrolled--items-2:not(#id) > div {
    width: 100%;
    padding: 0;
  }
}

.company-item__heading .index-block__title {
  font-size: 38px;
  line-height: 48px;
  color: #000000;
}
@media (max-width: 743px) {
  .company-item__heading .index-block__title {
    font-size: 32px;
    line-height: 40px;
  }
}

.company-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

.custom-volunteering .company-item__text h4 {
  font-size: 20px;
  line-height: 25px;
}

.custom-volunteering .company-item__text .main-item b {
  font-family: "KFC Condensed";
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
  display: block;
  margin-bottom: 10px;
}

.custom-volunteering .main-item-container {
  display: grid;
  grid-template-columns: 138px 226px;
  column-gap: 40px;
}
@media (max-width: 580px) {
  .custom-volunteering .main-item-container {
    grid-template-columns: 1fr 1fr;
  }
}

.custom-volunteering .main-item {
  width: auto;
  margin-right: 0;
}

.custom-volunteering {
  border: none;
  background-color: #EAEDF1;
  overflow: hidden;
}

.index-block--delimiter > div {
  border: none;
}

.custom-volunteering {
  padding-bottom: 97px;
  padding-top: 120px;
  background-image: url("../img/hand-trash-vol.svg"), url("../img/hand-bike-vol.svg");
  background-repeat: no-repeat;
  background-position: left top, calc(50% - 48px) 598px;
}
@media (max-width: 991px) {
  .custom-volunteering {
    background-image: url("../img/hand-trash-vol-mobile.svg"), url("../img/hand-bike-vol.svg");
    background-position: calc(50% - 286px) 1203px, right -80px top 47px;
  }
}
@media (max-width: 690px) {
  .custom-volunteering {
    background-image: none;
  }
}

.company-item__picture--static {
  max-height: 611px;
  border-radius: 20px;
}

.company-item:first-child .company-item__picture--static {
  margin-right: -200px;
}
@media (max-width: 991px) {
  .company-item:first-child .company-item__picture--static {
    margin-right: -100px;
    margin-left: -100px;
  }
}
@media (max-width: 690px) {
  .company-item:first-child .company-item__picture--static {
    margin: 0;
  }
}

@media (max-width: 991px) {
  #main .company-item__picture-wrapper {
    padding-top: 96%;
  }
}

@media (max-width: 991px) {
  .flexbox--mb20-t991 {
    margin-bottom: 80px;
  }
}
@media (max-width: 690px) {
  .flexbox--mb20-t991 {
    margin-bottom: 69px;
  }
}

.company-item__tizers {
  margin-top: 0;
}

.index-block__preview {
  margin-top: 48px;
}

.index-block .index-block__btn--subscribe {
  margin: 70px auto 0;
  max-width: 300px;
}

.index-block .index-block__btn--subscribe .btn {
  width: 100%;
  margin: 0 auto;
}

.custom-charity {
  background-color: #ffffff;
  background-image: url("../img/hand-guitar-char.svg"), url("../img/hand-ball-char.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 250px) top, right bottom 60px;
}
@media (max-width: 991px) {
  .custom-charity {
    padding-bottom: 200px;
    background-image: url("../img/hand-guitar-char-mobile.svg"), url("../img/hand-ball-char.svg");
    background-position: left top 300px, right bottom 40px;
  }
}
@media (max-width: 690px) {
  .custom-charity {
    background-image: none;
    padding-bottom: 40px;
  }
}

.index-block__btn-wrapper {
  display: grid;
  grid-template-columns: 196px 247px;
  column-gap: 30px;
}
@media (max-width: 690px) {
  .index-block__btn-wrapper {
    grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */