@font-face {
  font-family: "KFC";
  src: url("../fonts/cerakfc-regular.woff2") format("woff2"), url("../fonts/cerakfc-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KFC";
  src: url("../fonts/cerakfc-black.woff2") format("woff2"), url("../fonts/cerakfc-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KFC Condensed";
  src: url("../fonts/cerakfc-condensed-regular.woff2") format("woff2"), url("../fonts/cerakfc-condensed-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KFC Condensed";
  src: url("../fonts/cerakfc-condensed-black.woff2") format("woff2"), url("../fonts/cerakfc-condensed-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.body {
  background-color: #F6F8FB;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.popup-window,
body div.bx-yandex-map,
.fancybox-title {
  font-family: "KFC", Arial, sans-serif;
  color: #000000;
  font-weight: 900;
}

body .maxwidth-theme:not(.pos-static) {
  max-width: 1110px;
}
@media (max-width: 992px) {
  body .maxwidth-theme:not(.pos-static) {
    max-width: 584px;
  }
}
@media (max-width: 690px) {
  body .maxwidth-theme:not(.pos-static) {
    max-width: 378px;
  }
}

header .header-menu__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

@media (min-width: 991px) {
  .header-cabinet .header-cabinet__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
}

#main .mobileheader--color-colored .logo .menu-light-icon-fill svg * {
  fill: revert-layer;
}

#main .header-menu__item--more-items li:last-child a span {
  color: #0057FF;
  text-decoration: underline;
}

footer .footer__main-part .font_15 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.subscribe-block .subscribe-block__text .font_15 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.footer__bottom-part .footer__license {
  font-family: "KFC Condensed";
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 20px;
}

.banners-big__text--wide .banners-big__title {
  color: var(--theme-base-color);
  font-size: 135px;
  line-height: 170px;
  letter-spacing: -0.04em;
}
@media (max-width: 1440px) {
  .banners-big__text--wide .banners-big__title {
    font-size: 110px;
    line-height: 105px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .banners-big__text--wide .banners-big__title {
    font-size: 74px;
    line-height: 70px;
  }
}
@media (min-width: 1440px) {
  .banners-big__text--wide .banners-big__title {
    width: 1000px;
  }
}

.banners-big .banners-big__top-text {
  display: block;
  color: #000000;
  font-size: 47px;
  line-height: 59px;
  letter-spacing: -0.02em;
  opacity: 1;
}
@media (max-width: 767px) {
  .banners-big .banners-big__top-text {
    font-size: 27px;
    line-height: 34px;
  }
}

.banners-big .banners-big__text-block {
  color: #000000;
  font-weight: 400;
  opacity: 1;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 990px) {
  .banners-big .banners-big__text-block {
    margin: 36px 0 95px;
  }
}

@media (min-width: 744px) {
  .banners-big__text--wide.banners-big__text--center .banners-big__text-wrapper {
    width: 614px;
  }
}

.banners-big__item {
  background-image: url("../img/hand-left.svg"), url("../img/hand-right.svg"), url("../img/hand-bottom.svg");
  background-repeat: no-repeat;
  background-size: 259px 329px, 175px 151px, 304px 300px;
  background-position: -20px 172px, right top 141px, 54% 480px;
}
@media (max-width: 990px) {
  .banners-big__item {
    background-size: 201px 285px, 138px 131px, 255px 315px;
    background-position: -20px -3px, right top -41px, 54% 305px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .banners-big__item {
    background-position: -20px 82px, right -30px top 126px, 54% 381px;
  }
}
@media (max-width: 580px) {
  .banners-big__item {
    background-size: 131px 285px, 92px 131px, 221px 315px;
    background-position: -20px 82px, right -30px top 126px, 54% 305px;
  }
}

.swiper-container {
  z-index: 0;
}

@media (min-width: 581px) and (max-width: 990px) {
  .banners-big__wrapper {
    padding-top: 150px;
  }
}

.btn {
  font-family: "KFC";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  padding: 15px 32px;
}

.header__main-inner {
  padding-top: 24px;
}

.TIZERS .index-block h2 {
  color: #000000;
  font-size: 60px;
  line-height: 75px;
  text-align: center;
  margin-bottom: 8px;
}
@media (max-width: 743px) {
  .TIZERS .index-block h2 {
    font-size: 38px;
    line-height: 48px;
  }
}

.drag-block .tizers-list__item-descr {
  color: #000000;
  font-family: "KFC";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: -8px;
}

@media (min-width: 1100px) {
  .tizers-list__items-wrapper.grid-list--items-3 {
    max-width: 650px;
    grid-template-columns: repeat(3, minmax(219px, 1fr));
    justify-content: center;
    margin: 0 auto;
  }
}
.tizers-list__item--column {
  align-items: center;
}

.tizers-list__item-image-text {
  font-family: "KFC Condensed";
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
}

.TIZERS .tizers-list__item-image-text {
  padding-left: 30px;
}

.TIZERS .tizers-list .maxwidth-theme {
  padding-left: 0;
}

.TIZERS .tizers-list__item-descr {
  padding-left: 30px;
}

.nature {
  background-color: #C39E67;
  background-repeat: repeat-x, repeat-x, no-repeat, no-repeat, repeat;
  background-position: 50% 0, 50% 100%, 50% 0, calc(50% + 656px) -84px, 50% 50%;
  background-image: url("../img/tear-top.svg"), url("../img/tear-bottom.png"), url("../img/trash.svg"), url("../img/basket.png"), url("../img/kiwihug.png");
}
.nature:not(#id) {
  padding-top: 124px;
  padding-bottom: 162px;
}
@media (max-width: 992px) {
  .nature {
    padding-right: 80px;
    padding-left: 80px;
    background-position: 50% 0, 50% 100%, calc(50% + 260px) 0, 50% 100%, 50% 50%;
    background-image: url("../img/tear-top.svg"), url("../img/tear-bottom.png"), url("../img/trash.svg"), url("../img/basket-medium.png"), url("../img/kiwihug.png");
  }
  .nature:not(#id) {
    padding-bottom: 735px;
  }
}
@media (max-width: 690px) {
  .nature {
    padding-right: 0;
    padding-left: 0;
    background-position: 50% 0, 50% 100%, calc(50% + 120px) 0, 50% calc(100% - 40px), 50% 50%;
    background-image: url("../img/tear-top-mobile.svg"), url("../img/tear-bottom-mobile.png"), url("../img/trash-mobile.svg"), url("../img/basket-mobile.png"), url("../img/kiwihug.png");
  }
  .nature:not(#id) {
    padding-top: 116px;
    padding-bottom: 610px;
  }
}

.nature h2 {
  font-size: 38px;
  font-weight: 900;
  line-height: 48px;
  color: #000000;
  margin-right: calc(50% + 80px);
  margin-bottom: 65px;
}
@media (max-width: 992px) {
  .nature h2 {
    margin-right: 80px;
  }
}
@media (max-width: 690px) {
  .nature h2 {
    margin-right: 160px;
    font-size: 32px;
    line-height: 40px;
  }
}

.tizers-list__item-name.switcher-title {
  font-family: "KFC Condensed";
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  color: #000000;
  margin-bottom: 20px;
}

.index-block--delimiter .tizers-list__items-wrapper.grid-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 56px;
  padding-right: 34px;
}
@media (max-width: 992px) {
  .index-block--delimiter .tizers-list__items-wrapper.grid-list {
    grid-template-columns: 300px;
    gap: 50px;
    padding-right: 0;
  }
}
@media (max-width: 690px) {
  .index-block--delimiter .tizers-list__items-wrapper.grid-list {
    grid-template-columns: 1fr;
  }
  .index-block--delimiter .tizers-list__items-wrapper.grid-list:not(#id) {
    display: grid;
    gap: 35px;
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible;
  }
  .index-block--delimiter .tizers-list__items-wrapper.grid-list:not(#id) > div {
    width: auto;
    padding: 0;
  }
}

.nature .tizers-list__item-text-wrapper::before {
  content: "";
  width: 60px;
  height: 62px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 25px;
}

.nature .tizers-list__item-wrapper:first-child .tizers-list__item-text-wrapper::before {
  background-image: url("../img/icon1.svg");
}

.nature .tizers-list__item-wrapper:nth-child(2) .tizers-list__item-text-wrapper::before {
  background-image: url("../img/icon2.svg");
}

.nature .tizers-list__item-wrapper:nth-child(3) .tizers-list__item-text-wrapper::before {
  background-image: url("../img/icon3.svg");
}

.company-item:nth-child(2) {
  background-color: #ffffff;
}

.company-item__heading .index-block__title {
  font-size: 38px;
  line-height: 48px;
  color: #000000;
}
@media (max-width: 743px) {
  .company-item__heading .index-block__title {
    font-size: 32px;
    line-height: 40px;
  }
}

.company-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #000000;
}

.company-item__text h4 {
  font-size: 20px;
  line-height: 25px;
}

.company-item__text .main-item b {
  font-family: "KFC Condensed";
  font-size: 20px;
  font-weight: 900;
  line-height: 25px;
}

.company-item:first-child {
  border: none;
  background-color: #EAEDF1;
}

.index-block--delimiter > div {
  border: none;
}

.index-block--padding-bottom-80 .company-item:first-child {
  padding-bottom: 237px;
  padding-top: 171px;
}

body .banners-img-with-text-list__item-text--absolute * {
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}
@media (max-width: 990px) {
  body .banners-img-with-text-list__item-text--absolute * {
    font-size: 17.5px;
    line-height: 22px;
  }
}

.index-block .banners-img-with-text-list {
  padding-top: 0;
  padding-bottom: 118px;
}

@media (min-width: 1100px) {
  .banners-img-with-text-list .grid-list--items-3 {
    width: 1050px;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    justify-content: center;
  }
}
.banners-img-with-text-list .grid-list__item {
  max-width: 335px;
  min-height: 325px;
}

.banners-img-with-text-list .rounded-4 {
  border-radius: 20px;
}

.banners-img-with-text-list__item-image.banners-img-with-text-list__item-image--short {
  padding-top: 100%;
}
/*# sourceMappingURL=style.css.map */